<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/resources :: head(pageTitle='Lista pizze')">
</head>
<body class="m-3">
<main class="container">
    <h1 class="text-center text-bg-light fw-semibold">Lista pizze</h1>
    <hr>
    <!-- tabella lista pizze -->
    <div th:if="${pizzaList.size() > 0}" class="table-responsive">
        <table class="table align-middle table-striped table-hover">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Descrizione</th>
                <th>Prezzo</th>
                <th>Azioni</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pizza : ${pizzaList}">
                <td th:text="${pizza.name}"></td>
                <td th:text="${pizza.description}"></td>
                <td th:text="${pizza.price} + €"></td>
                <td>
                    <a th:href="@{|/pizzas/${pizza.id}|}" class="btn btn-outline-info ms-white-hover my-1"><i
                            class="fa-solid fa-eye"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- messaggio informativo se la lista pizze è vuota -->
    <h2 th:unless="${pizzaList.size() > 0}">La lista delle pizze è vuota!</h2>
</main>
</body>
</html>