<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/resources :: head(pageTitle='Lista pizze')}">
</head>
<body>
<header>
    <nav th:replace="~{/fragments/navbar :: navbar(current='pizzas')}"></nav>
</header>
<main class="container">
    <h1 class="fw-semibold text-danger mb-4">Elenco pizze</h1>
    <div class="d-sm-flex align-items-center justify-content-between mb-3">
        <a th:href="@{/pizzas/create}" class="btn btn-primary fw-semibold mb-3 mb-sm-0"><i
                class="fa-solid fa-plus me-1"></i> Crea nuova pizza</a>
        <!-- form di ricerca -->
        <form th:action="@{/pizzas}" method="GET">
            <div class="input-group">
                <input type="search" class="form-control shadow-none border-danger" placeholder="Cerca per nome"
                       name="q"
                       th:value="${searchInput}">
                <button class="btn btn-outline-danger" type="submit"><i
                        class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </form>
    </div>
    <!-- tabella lista pizze -->
    <div th:if="${pizzaList.size() > 0}">
        <table class="table table-striped table-responsive table-hover border-danger align-middle">
            <thead class="border-bottom border-4 border-danger">
            <tr>
                <th>Nome</th>
                <th>Descrizione</th>
                <th>Prezzo</th>
                <th>Azioni</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pizza : ${pizzaList}">
                <td th:text="${pizza.name}"></td>
                <td th:text="${pizza.description}"></td>
                <td th:text="${pizza.price} + €"></td>
                <td>
                    <a th:href="@{|/pizzas/${pizza.id}|}" class="btn btn-outline-info ms-white-hover my-1">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a th:href="@{|/pizzas/edit/${pizza.id}|}" class="btn btn-outline-warning ms-white-hover my-1">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <form class="d-inline-block" th:action="@{|/pizzas/delete/${pizza.id}|}" method="post">
                        <button class="btn btn-outline-danger" type="submit"><i class="fa-solid fa-trash"></i></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- messaggio informativo se la lista pizze è vuota -->
    <div th:unless="${pizzaList.size() > 0}" class="alert alert-info fs-3" role="alert">
        La lista delle pizze è vuota!
    </div>
</main>
</body>
</html>