<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="~{/fragments/resources :: head(pageTitle='Dettagli pizza')}">
</head>
<body>
<header>
    <nav th:replace="~{/fragments/navbar :: navbar(current='pizzas')}"></nav>
</header>
<main class="container-fluid mb-3" th:object="${pizza}">
    <!-- messaggio alert quando avviene un'azione -->
    <div th:if="${message != null}" class="alert alert-dismissible fade show" role="alert"
         th:classAppend="${#strings.equalsIgnoreCase(message.type, 'SUCCESS')} ? 'alert-success' : 'alert-danger'">
        <span th:text="${message.message}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <h1 class="text-center text-danger fw-semibold" th:text="*{name}"></h1>
    <div class="container d-flex flex-column flex-lg-row align-items-center py-4">
        <!-- card dettagli pizza -->
        <div class="card col-lg-6 rounded-top mb-5 mb-lg-0">
            <div class="text-center p-3 bg-dark rounded-top">
                <img th:if="photoUrl != null" th:src="*{photoUrl}" class="img-thumbnail" th:alt="*{name}">
                <!--                <img th:if="coverFile != null" th:src="*{coverFile}" class="img-thumbnail" th:alt="*{name}">-->
            </div>
            <div class="card-body">
                <div class="bg-light rounded-top p-3">
                    <h4 class="card-title text-center fw-bold"></h4>
                    <p>
                        <strong>Descrizione: </strong><span th:text="*{description}"></span>
                    </p>
                    <div class="mb-3">
                        <h6 class="fw-bold">Ingredienti:</h6>
                        <span class="badge text-bg-dark m-1" th:if="*{ingredients.size > 0}"
                              th:each="ing : *{ingredients}"
                              th:text="${ing.name}"></span>
                        <div class="alert alert-info" th:unless="*{ingredients.size > 0}">Non sono presenti
                            ingredienti
                        </div>
                    </div>
                    <div>
                        <strong>Prezzo: </strong><span th:text="|*{price}€|"></span>
                    </div>
                </div>
                <div class="text-center bg-light rounded-bottom pb-3">
                    <a th:href="@{/pizzas}" class="btn btn-primary fw-semibold m-1">
                        <i class="fa-solid fa-arrow-left me-1"></i> Torna
                        all'elenco
                    </a>
                </div>
            </div>
        </div>
        <!-- tabella offerte pizza -->
        <div class="col-12 col-lg-6 ps-lg-5">
            <h2 class="text-center text-danger fw-semibold mb-3">Offerte speciali</h2>
            <a th:href="@{/offers/create(pizzaId=${pizza.id})}" class="btn btn-primary fw-semibold mb-3" sec:authorize=
                    "hasAuthority('ADMIN')"><i
                    class="fa-solid fa-plus me-1"></i> Crea nuova offerta</a>
            <table th:if="${pizza.offers.size > 0}"
                   class="table table-striped table-responsive table-hover border-danger align-middle">
                <thead class="border-bottom border-4 border-danger">
                <tr>
                    <th>Titolo</th>
                    <th>Data inizio</th>
                    <th>Data fine</th>
                    <th>Azioni</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="offer : ${pizza.offers}" th:object="${offer}">
                    <td th:text="*{offerTitle}"></td>
                    <td th:text="*{#temporals.format(startOfferDate, 'dd/MM/yyyy')}"></td>
                    <td th:text="*{#temporals.format(endOfferDate, 'dd/MM/yyyy')}"></td>
                    <td>
                        <a th:href="@{|/offers/edit/*{id}|}" class="btn btn-outline-warning ms-white-hover my-1"
                           sec:authorize=
                                   "hasAuthority('ADMIN')">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <form class="d-inline-block" th:action="@{|/offers/delete/*{id}|}"
                              method="post" sec:authorize=
                                      "hasAuthority('ADMIN')">
                            <button class="btn btn-outline-danger" type="submit"><i class="fa-solid fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- messaggio informativo se la pizza NON ha offerte associate -->
            <div th:unless="${pizza.offers.size > 0}" class="alert alert-info">
                <h4>Non sono presenti offerte speciali</h4>
            </div>
        </div>
    </div>
</main>
</body>
</html>