<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/resources :: head(pageTitle='Dettagli pizza')}">
</head>
<body>
<header>
    <nav th:replace="~{/fragments/navbar :: navbar(current='pizzas')}"></nav>
</header>
<main class="container">
    <h1 class="text-center text-danger fw-semibold" th:text="${pizza.name}"></h1>
    <div class="container d-flex align-items-center py-4">
        <!-- card dettagli pizza -->
        <div class="card w-50 rounded-top me-5">
            <div class="text-center p-3 bg-dark rounded-top">
                <img th:src="${pizza.photoUrl}" class="img-thumbnail" th:alt="${pizza.name}">
            </div>
            <div class="card-body">
                <div class="bg-light rounded-top p-3">
                    <h4 class="card-title text-center fw-bold"></h4>
                    <p>
                        <strong>Descrizione: </strong><span th:text="${pizza.description}"></span>
                    </p>
                    <p>
                        <strong>Prezzo: </strong><span th:text="|${pizza.price}€|"></span>
                    </p>
                </div>
                <div class="text-center bg-light rounded-bottom pb-3">
                    <a th:href="@{/pizzas}" class="btn btn-primary fw-semibold m-1">
                        <i class="fa-solid fa-arrow-left me-1"></i> Torna
                        all'elenco
                    </a>
                </div>
            </div>
        </div>
        <!-- tabella offerte pizza -->
        <div class="col-6">
            <h2 class="text-center text-danger fw-semibold mb-3">Offerte speciali</h2>
            <a th:href="@{/offers/create(pizzaId=${pizza.id})}" class="btn btn-primary fw-semibold mb-3"><i
                    class="fa-solid fa-plus me-1"></i> Crea nuova offerta</a>
            <table th:if="${pizza.offers.size > 0}"
                   class="table table-striped table-responsive table-hover border-danger align-middle">
                <thead class="border-bottom border-4 border-danger">
                <tr>
                    <th>Titolo</th>
                    <th>Data inizio</th>
                    <th>Data fine</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="offer : ${pizza.offers}" th:object="${offer}">
                    <td th:text="*{offerTitle}"></td>
                    <td th:text="*{#temporals.format(startOfferDate, 'dd/MM/yyyy')}"></td>
                    <td th:text="*{#temporals.format(endOfferDate, 'dd/MM/yyyy')}"></td>
                </tr>
                </tbody>
            </table>
            <!-- messaggio informativo se la pizza NON ha offerte associate -->
            <div th:unless="${pizza.offers.size > 0}" class="alert alert-info">
                <h4>Non sono presenti offerte speciali</h4>
            </div>
        </div>
    </div>
</main>
</body>
</html>