.ms-mh-400-cover {
    max-height: 400px;
    object-fit: cover;
}

.ms-white-hover:hover {
    color: white;
}

.navbar-nav-right {
    margin-left: auto;
}

.ms-active {
    background-color: #fff;
    color: #dc3545;
    padding: 0.5rem;
    border-radius: 0.2rem;
}